[submodule "include/3rdparty/variant"]
	path = include/variant
	url = https://github.com/mpark/variant.git
[submodule "include/auto-arg-parse"]
	path = include/auto-arg-parse
	url = https://github.com/SaadAttieh/auto-arg-parse
[submodule "include/PicoSHA2"]
	path = include/PicoSHA2
	url = https://github.com/okdshin/PicoSHA2.git
[submodule "include/Optional"]
	path = include/Optional
	url = https://github.com/akrzemi1/Optional
[submodule "include/flat_hash_map"]
	path = include/flat_hash_map
	url = https://github.com/skarupke/flat_hash_map
